repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
            exclude: |
                (?x)(
                    .github/workflows/latest-changes.jinja2
                )
          - id: check-yaml
          - id: check-added-large-files
    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
          - id: black-jupyter
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.250
      hooks:
          - id: ruff
            args: [--fix, --exit-non-zero-on-fix]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.6.2
      hooks:
          - id: prettier
    - repo: https://github.com/kynan/nbstripout
      rev: 0.3.9
      hooks:
          - id: nbstripout
            exclude: |
                (?x)(
                    docs/examples/|
                    docs/notes/
                )
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.1.9
      hooks:
          - id: forbid-crlf
          - id: remove-crlf
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.940
      hooks:
          - id: mypy
