name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, staging]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_EVENT_NAME: ${{ github.event_name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python: "3.12"
          - os: ubuntu-latest
            python: "3.12"
            pip-flags: "--pre"
        group:
          [
            "{{ cookiecutter.package_name }}-unit",
            "{{ cookiecutter.package_name }}-docs",
          ]
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/checkout@v4
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        with:
          repository: laminlabs/lndocs
          ssh-key: ${{ secrets.READ_LNDOCS }}
          path: lndocs
          ref: main
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ runner.os }}-${{ hashFiles('.pre-commit-config.yaml') }}
      - run: pip install -U laminci
      - run: sudo apt-get -y install graphviz

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Run lint
        if: matrix.group == '{{ cookiecutter.package_name }}-unit'
        run: nox -s lint

      - name: Run build
        if: ${{ !(matrix.group == '{{ cookiecutter.package_name }}-docs' && github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository) }}
        run: nox -s "build(group='${{ matrix.group }}')"

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: cloudflare/pages-action@v1
        if: ${{ !(matrix.group == '{{ cookiecutter.package_name }}-docs' && github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository) }}
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 472bdad691b4483dea759eadb37110bd
          projectName: {{ cookiecutter.project_slug }}
          directory: "_build/html"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          wranglerVersion: "3"
