name: Docs
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  docs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Install pip and poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Install dependencies
        run: |
          poetry install -E dev
      - name: Build docs
        run: |
          cd docs
          poetry run make html
      - name: Set the correct root
        run: |
          mv docs/_build/html docs/_build/cookiecutter-py  # this is the slug
          rm -r docs/_build/doctrees
      - name: Deploy to Netlify
        id: netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: 'docs/_build'
          production-deploy: ${{ github.event_name == 'push' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
