name: Docs
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  docs:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.ACCESS_TOKEN_ALEX }}
          fetch-depth: 0
      - name: Install pip and poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Install dependencies
        run: |
          poetry install
      - name: Build docs
        run: |
          cd docs
          poetry run make html
      - name: Change base URL to project-slug  # for Netlify URL prettification
        if: github.event_name == 'push'
        run: |
          mv docs/_build/html docs/_build/cookiecutter-py  # this is the slug
          rm -r docs/_build/doctrees
      - name: Deploy to Netlify
        id: netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: 'docs/_build/html'  # ensures the slug is relative to _build
          production-deploy: ${{ github.event_name == 'push' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
